*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  letter-spacing: 10px;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h1 {
  text-align: center;
  font-weight: 400;
}

p {
  text-align: center;
  font-size: 0.7rem;
  font-style: italic;
}

.instructions {
  display: block;
  text-align: center;
}

.d-none {
  display: none;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3em;
}

h3 {
  margin-bottom: 1em;
}

.computer-choices > h3 {
  text-align: end;
}

.computer-choices,
.human-choices {
  display: flex;
  flex-direction: column;
}

.computer-choices {
  align-items: flex-end;
}

.restart-reset {
  padding: 0.5em;
  cursor: pointer;
  font-weight: bold;
}

.selections,
.scores {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.selections {
  margin-bottom: 1em;
}

.final-result {
  margin-top: 2em;
}

.final-result-text,
.final-result {
  font-size: 24px;
}

.human-choices,
svg path {
  pointer-events: none;
}

.rock,
.paper,
.scissors {
  pointer-events: auto;
}

.computer-choices svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.human-choices button,
.computer-choices button {
  width: fit-content;
  all: unset;
}

.human-choices svg {
  cursor: pointer;
}

.human-choices .hover:hover {
  fill: rgb(184, 201, 208);
}

.human-choices .default-cursor {
  cursor: default;
}

.green {
  fill: green;
}

.red {
  fill: red;
}

.blue {
  fill: blue;
}

.black {
  fill: black;
}
