@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Luckiest Guy";
  letter-spacing: 10px;
}

h1 {
  text-align: center;
  font-weight: 400;
  margin-top: 0.5em;
}

p {
  text-align: center;
  font-size: 0.7rem;
  font-style: italic;
  margin-top: 0.5em;
}

.instructions {
  display: block;
  margin-top: 1em;
  text-align: center;
}

.d-none {
  display: none;
}

.container {
  padding: 4em;
  padding-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3em;
}

h3 {
  margin-bottom: 1em;
}

.computer-choices > h3 {
  text-align: end;
}

.computer-choices,
.user-choices {
  display: flex;
  flex-direction: column;
}

.computer-choices {
  align-items: flex-end;
}

.gesture:not(:last-child) {
  padding-bottom: 30px;
}

.restart-reset {
  padding: .5em;
  cursor: pointer;
  font-weight: bold;
}

.selections,
.scores {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.selections {
  bottom: 300px;
  margin-bottom: 1em;
}

.scores {
  bottom: 150px;
}

.final-result {
  margin-top: 2em;
}

.computer-choices svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.user-choices button,
.computer-choices button {
  all: unset;
}

.user-choices svg {
  cursor: pointer;
}

.user-choices svg:hover {
  fill: rgb(184, 201, 208);
}

.green {
  fill: green;
}

.red {
  fill: red;
}

.blue {
  fill: blue;
}

.black {
  fill: black;
}
